@import './colors.css';
@import './fonts.css';

/* Components */
@import './button.css';

/* App */

:root {
  --layout-background-0: var(--color-white);
  --layout-background-1: var(--color-gray-05);
  --layout-background-2: var(--color-gray-10);
  --layout-background-3: var(--color-gray-20);
  --layout-background-4: var(--color-gray-30);

  --layout-color-0: var(--color-black);
  --layout-color-1: var(--color-gray-90);
  --layout-color-2: var(--color-gray-70);
  --layout-color-3: var(--color-gray-50);

  --layout-border-0: var(--color-gray-30);
  --layout-border-1: var(--color-gray-40);
  --layout-border-2: var(--color-gray-50);

  --anchor-color: var(--color-gray-90);
  --anchor-active-color: var(--color-gray-40);
  --logo-url: url("/svg/logo-wordmark.svg");
  --external-link-url: url("/svg/external-link.svg");

  --page-padding: 0.5rem;
  --display-logo: none;
  --collapse-header: column;
}

/* md */
@media screen and (min-width: 768px) {
  :root {
    --collapse-header: row;
  }
}

/* lg */
@media screen and (min-width: 1024px) {
  :root {
    --page-padding: 2rem;
  }
}

/* xl */
@media screen and (min-width: 1280px) {
  :root {
    --display-logo: block;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --layout-background-0: var(--color-gray-90);
    --layout-background-1: var(--color-gray-80);
    --layout-background-2: var(--color-gray-70);
    --layout-background-3: var(--color-gray-60);
    --layout-background-4: var(--color-gray-50);

    --layout-color-0: var(--color-white);
    --layout-color-1: var(--color-gray-10);
    --layout-color-2: var(--color-gray-30);
    --layout-color-3: var(--color-gray-50);

    --layout-border-0: var(--color-gray-50);
    --layout-border-1: var(--color-gray-60);
    --layout-border-2: var(--color-gray-70);

    --anchor-color: var(--color-gray-10);
    --anchor-active-color: var(--color-gray-40);
    --logo-url: url("/svg/logo-wordmark-white.svg");
  }
}

body {
  font-family: "Fira Sans", Ubuntu, Helvetica, Arial, sans-serif;
  background-color: var(--layout-background-2);
  padding: var(--page-padding);
  text-align: center;
}

#app {
  background-color: var(--layout-background-0);
  color: var(--layout-color-0);
  border: 1px var(--layout-border-0) solid;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: var(--page-padding);
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

a {
  color: var(--color-blue-60);
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

a:active {
  color: var(--color-blue-70);
}

a:focus {
  box-shadow: 0 0 0 2px #0a84ff, 0 0 0 6px rgba(10, 132, 255, 0.3);
}

.external-link:after {
  display: inline-block;

  content: '';
  width: 0.9rem;
  height: 0.9rem;
  margin-left: 0.1rem;
  vertical-align: middle;

  /* Can't add colour to a content or background-image svg it seems. So use a mask and colour that instead */
  -webkit-mask: var(--external-link-url);
  -webkit-mask-size: cover;
  mask: var(--external-link-url);
  mask-size: cover;
  background-color: var(--color-blue-60);
}