@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Light"), url("../font/woff/FiraSans-Light.woff") format("woff"), url("../font/woff2/FiraSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Light Italic"), url("../font/woff/FiraSans-LightItalic.woff") format("woff"), url("../font/woff2/FiraSans-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Regular"), url("../font/woff/FiraSans-Regular.woff") format("woff"), url("../font/woff2/FiraSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Regular Italic"), url("../font/woff/FiraSans-RegularItalic.woff") format("woff"), url("../font/woff2/FiraSans-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Medium"), url("../font/woff/FiraSans-Medium.woff") format("woff"), url("../font/woff2/FiraSans-Medium.woff") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Medium Italic"), url("../font/woff/FiraSans-MediumItalic.woff") format("woff"), url("../font/woff2/FiraSans-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Bold"), url("../font/woff/FiraSans-Bold.woff") format("woff"), url("../font/woff2/FiraSans-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Bold Italic"), url("../font/woff/FiraSans-BoldItalic.woff") format("woff"), url("../font/woff2/FiraSans-BoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: flex;
  justify-content: center;
  padding: 40px;
  font: 14px/1.5 "Fira Sans", sans-serif;
  color: #345;
  background: #f0f2f4; }

p:not(:last-child) {
  margin: 0 0 20px; }

.center {
  text-align: center; }

main {
  min-width: 90%;
  max-width: 100%;
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #abc; }

input[type="radio"] {
  display: none; }

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #abc;
  border: 1px solid transparent; }

label:before {
  font-family: 'Font Awesome\ 5 Free';
  font-weight: normal;
  margin-right: 10px;
  font-weight: 900; }

label[for*="0"]:before {
  content: "\f0c0"; }

label[for*="1"]:before {
  content: "\f0c0"; }

label[for*="2"]:before {
  content: "\f032"; }

label[for*="3"]:before {
  content: "\f295"; }

label[for*="4"]:before {
  content: "\f12e"; }

label[for*="5"]:before {
  content: "\f509"; }

label[for*="6"]:before {
  content: "\f004"; }

label:hover {
  color: #789;
  cursor: pointer; }

input:checked + label {
  color: #0af;
  border: 1px solid #abc;
  border-top: 2px solid #0af;
  border-bottom: 1px solid #fff; }

#tab0:checked ~ #content0,
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7 {
  display: block; }

@media screen and (max-width: 1050px) {
  label {
    font-size: 0; }
  label:before {
    margin: 0;
    font-size: 18px; } }

@media screen and (max-width: 320px) {
  label {
    padding: 15px; } }
